.rozliczenia {
    &__header {
      padding: 20px 0px;
    }
    &__element--header,
    &__element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid darkgrey;
      cursor: pointer;
      transition: background-color 0.2s ease;
      div {
        width: 20%;
        &:last-of-type {
          text-align: right;
        }
      }
  
      &:hover {
        background-color: #eee;
      }
  
      &--header {
        font-weight: bold;
      }
  
      &--highlighted {
        background-color:#20ce99;
        
        &:hover {
          background-color: #20ce99;
      }
      }
    }
    &__month {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid darkgrey;
      cursor: pointer;
      transition: background-color 0.2s ease;
      div {
        width: 5%;
        &:last-of-type {
          text-align: right;
        }
      }
  
      &:hover {
        background-color: #eee;
      }
  
      &--header {
        font-weight: bold;
      }
  
      &--highlighted {
        background-color:#20ce99;
        
        &:hover {
          background-color: #20ce99;
      }
      }
    }
  }
  
  .do-rozliczenia {
    color: #f44336;
  }
  
  .rozliczono {
    color: #20ce99;
  }